<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <h3>Enter Date:</h3>
    <form action={{ url_for("index")}} method="post">
      <label for="count">Select Start Date:</label>
      <input type="date" id="date1" name="date1" />

      <label for="count">Select End Date:</label>
      <input type="date" id="date2" name="date2" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
